@{
    ViewData["Title"] = "Register";
}
<h1>@ViewData["Title"]</h1>

<div class="container-sm">
    <form asp-controller="Home" asp-action="InsertData">
        <div class="form-group">
            <label for="forInputName">Name</label>
            <input type="text" class="form-control" id="inputNameId" name="nameString" aria-describedby="nameHelp" placeholder="Enter name">
        </div>
        @* <div class="form-group">
            <label for="forInputBirthDate">Birth Date</label>
            <input type="date" class="form-control" id="inputBirthDateId" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="forInputGender">Gender</label>
            <input type="email" class="form-control" id="inputGenderId" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="forZipCode">Zip Code</label>
            <input type="email" class="form-control" id="inputZipCodeId" aria-describedby="emailHelp" placeholder="Enter email">
        </div> *@
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    @Html.TextBox("InsertDataResult");
</div>
