@model IEnumerable<simple_mvc.Models.Cliente>
@{
    ViewData["Title"] = "Home Page";
}
<button class="btn btn-info" type="button" asp-controller="Home" asp-action="Listar">Listar Clientes</button>
<div class="container-sm">
    <table class="table">
        <tr>
            <th>Nome</th>
        </tr>
        <tr>
            @foreach (var item in Model)
            {
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            }
        </tr>
    </table>
</div>

