@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="ListarClientes">
    <input type="submit" value="Listar Clientes" class="btn btn-primary">
</form>
<br>
<strong>@ViewBag.Message</strong>
@ViewData["ListaClientes"]